.card {
  width: 350px;
}
.rounded-start {
  width: 100px;
  height: 100px;
}

h5 {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.col-md-9:hover {
  background-color: rgb(226, 226, 226);
  color: black;
}
